.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.border-bottom-1 {
    border-bottom: 1px solid;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.flex-grow {
    flex-grow: 1;
}
.w-33 {
    width: 33%;
}
.m-10px {
    margin: 10px;
}
